@font-face {
    font-family: $iconFont;;
    src: url('../fonts/Socialico.woff') format('woff'),
        url('../fonts/Socialico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}